openapi: '3.0.3'
info:
  title: Firefox API Proxy
  version: '0.3'
  license:
    name: ISC
    url: https://opensource.org/licenses/ISC
servers:
  - url: https://firefox-api-proxy.readitlater.com
    description: Production environment
  - url: https://firefox-api-proxy.getpocket.dev
    description: Development environment
  - url: http://localhost:4028
    description: Local default port

#common components referenced across multiple paths
components:
  # Common schema definitions
  schemas:
    Error:
      type: object
      properties:
        id:
          type: string
          description: A unique identifier for this particular instance of the error
        status:
          type: string
          description: HTTP status code string associated with the response
        title:
          type: string
          description: A short human readable summary of the error
        detail:
          type: string
          description: A more detailed explanation of the error intended for human debugging
        source:
          type: object
          description: An object containing references to the source of the error
          properties:
            parameters:
              type: string
              description: String indicating which URI query parameter caused the error
    ErrorResponse:
      type: object
      required:
        - errors
      properties:
        errors:
          description: An array of error objects
          type: array
          items:
            oneOf:
              - $ref: "#/components/schemas/Error"
    Save:
      type: object
      required:
        - __typename
        - id
        - givenUrl
      properties:
        __typename:
          type: string
          description: Constant identifier for Saves, allowing them to be differentiated when multiple types are returned together.
          enum:
            - Save
        id:
          type: string
          description: The Saved Item ID.
        resolvedUrl:
          type: string
          nullable: true
          description: Resolved URL for a saved item. This includes following any redirects and any parser normalization.
        givenUrl:
          type: string
          description: The URL the user saved to their list.
        title:
          type: string
          nullable: true
          description: The title of the saved item as resolved by the parser.
        excerpt:
          type: string
          nullable: true
          description: An excerpt from the saved item as resolved by the parser.
        domain:
          type: string
          nullable: true
          description: The Domain of the saved item
        wordCount:
          type: number
          nullable: true
          description: Numeric string, word count of the item. May be 0 if parsing fails
        timeToRead:
          type: number
          nullable: true
          description: Approximate minutes to read the item, based on word_count
        topImageUrl:
          type: string
          nullable: true
          description: Primary image from the saved item as resolved by the parser.
    PendingSave:
      type: object
      required:
        - id
        - givenUrl
        - __typename
      properties:
        __typename:
          type: string
          description: Constant identifier for PendingSave, allowing them to be differentiated when multiple types are returned together.
          enum:
            - PendingSave
        id:
          type: string
          description: The Saved Item ID.
        givenUrl:
          type: string
          description: The URL the user saved to their list.
    Recommendation:
      type: object
      description: These items contain similar content to saves, but have been through a curation process and have more guaranteed data.
      required:
        - __typename
        - tileId
        - url
        - title
        - excerpt
        - publisher
        - imageUrl
      properties:
        __typename:
          type: string
          description: Constant identifier for Recommendation type objects.
          enum:
            - Recommendation
        tileId:
          type: number
          description: Numerical identifier for the Recommendation. This is specifically a number for Fx client and Mozilla data pipeline compatibility.
        url:
          type: string
          description: The URL the Recommendation.
        title:
          type: string
          description: The title of the Recommendation.
        excerpt:
          type: string
          description: An excerpt from the Recommendation.
        publisher:
          type: string
          description: The publisher of the Recommendation.
        imageUrl:
          type: string
          description: The primary image for a Recommendation.

  # securitySchemes roughly map to authentication middleware
  securitySchemes:
    # The following schemes prefixed with "WS" all constitute a `WebSession` auth.
    # These are all required together for requests that require this auth type.
    WSUserAuth:
      type: apiKey
      in: cookie
      name: a95b4b6
      description: A portion of `WebSession` legacy auth. A hash of the user's ID.
    WSSessionAuth:
      type: apiKey
      in: cookie
      name: d4a79ec
      description: A portion of `WebSession` legacy auth. A hash of the session.
    WSLookupAuth:
      type: apiKey
      in: cookie
      name: 159e76e
      description: A portion of `WebSession` legacy auth. Session lookup.
    WSConsumerKeyAuth:
      type: apiKey
      in: query
      name: consumer_key
      description: A portion of `WebSession` legacy auth.
    # Originally tried to support this via headers and will continue to support
    # this alternative, however I suspect this may be causing issues. _ is not
    # valid character in headers. Many services allow this through, and this works
    # the overwhelming majority of the time. However, there have been client reports
    # of rejecting requests due to missing consumer_key, and I suspect some edge case
    # could be removing this.
    #
    # Avoiding confusion around renaming, and just preferring query params first.
    WSConsumerKeyAuthAlias:
      type: apiKey
      in: header
      name: consumer_key
      description: A portion of `WebSession` legacy auth. This isn't actually a valid header (_ is not permitted), prefer query param.

paths:
  /desktop/v1/recommendations:
    get:
      summary: Gets a list of Recommendations for a Locale and Region. This operation is performed anonymously and requires no auth.
      operationId: getRecommendations
      # Intentionally blank security. No auth required.
      security:
        - WSConsumerKeyAuth: []
        - WSConsumerKeyAuthAlias: []
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            # Do not exceed maxPageSize https://github.com/Pocket/list-api/blob/main/src/config/index.ts#L107
            maximum: 30
            default: 30
          description: The number of items to return.
        - name: locale
          in: query
          required: true
          description: This locale string is Fx domain language, and built from Fx expectations. Parameter values are not case sensitive.
          schema:
            type: string
            enum: [
              # relevant docs: https://docs.google.com/document/d/1omclr-eETJ7zAWTMI7mvvsc3_-ns2Iiho4jPEfrmZfo
              # listing locales that should still be served through the v3 APIs,
              # these are intentionally disabled for now.
              # en-CA, en-GB, en-US,
              # de, de-AT, de-CH,

              # new markets will be served through this API:
              fr, fr-FR,
              es, es-ES,
              it, it-IT,
            ]
        - name: region
          in: query
          required: true
          description: This region string is Fx domain language, and built from Fx expectations. Parameter values are not case sensitive.
          schema:
            type: string
            enum: [
              # relevant docs: https://docs.google.com/document/d/1omclr-eETJ7zAWTMI7mvvsc3_-ns2Iiho4jPEfrmZfo
              # listing regions that should still be served through the v3 APIs,
              # these are intentionally disabled for now.
              # US, CA, DE, GB, IN, CH, AT, BE, IE

              # new markets will be served through this API:
              FR, ES, IT,
            ]
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/Recommendation"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '500':
          description: This proxy service encountered an unexpected error.
        '502':
          description: Services downstream from this proxy encountered an unexpected error. Invalid (expired) auth returns a 500 error in downstream services, so unfortunately this is also currently a 502 response as it cannot be differentiated.
        '504':
          description: Requests to downstream services timed out.
  /desktop/v1/recent-saves:
    get:
      summary: Gets a list of the most recent saves for a specific user
      operationId: getRecentSaves
      security:
        # require all WS (WebSession) security schemes together
        - WSUserAuth: []
          WSSessionAuth: []
          WSLookupAuth: []
          WSConsumerKeyAuth: []
        - WSUserAuth: []
          WSSessionAuth: []
          WSLookupAuth: []
          WSConsumerKeyAuthAlias: []
      parameters:
        - name: count
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            # Do not exceed maxPageSize https://github.com/Pocket/list-api/blob/main/src/config/index.ts#L107
            # starting small, always easy to increase max but difficult to shrink
            maximum: 20
            default: 10
          description: The number of items to return.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                required:
                  - data
                properties:
                  data:
                    type: array
                    items: 
                      oneOf:
                        - $ref: "#/components/schemas/Save"
                        - $ref: "#/components/schemas/PendingSave"
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '401':
          description: Authorization is missing or invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        '500':
          description: This proxy service encountered an unexpected error.
        '502':
          description: Services downstream from this proxy encountered an unexpected error. Invalid (expired) auth returns a 500 error in downstream services, so unfortunately this is also currently a 502 response as it cannot be differentiated.
        '504':
          description: Requests to downstream services timed out.
