openapi: '3.0.3'
info:
  title: Firefox API Proxy
  version: '0.1'
servers:
  - url: https://firefox-api-proxy.getpocket.com/
    description: Production environment
  - url: https://firefox-api-proxy.getpocket.dev/
    description: Development environment
  - url: http://localhost:4028/
    description: Local default port

#common components referenced across multiple paths
components:
  parameters:
    countParam:
      in: query
      name: count
      required: false
      schema:
        type: integer
        minimum: 1
        # Do not exceed maxPageSize https://github.com/Pocket/list-api/blob/main/src/config/index.ts#L107
        # starting small, always easy to increase max but difficult to shrink
        maximum: 20
        default: 4
      description: The number of items to return.
    languageParam:
      in: query
      name: locale_lang
      required: false
      schema:
        type: string
        enum:
          - en-US
          - de-DE
      description: The language of content to return.

  # Common schema definitions
  schemas:
    SavedItem:
      type: object
      required:
        # TODO: enumerate all required properties here
        - item_id
      properties:
        # TODO: add more descriptions and validations
        item_id:
          type: string
          description: The Saved Item ID.
        resolved_id:
          type: string
        given_url:
          type: string
        given_title:
          type: string
        favorite:
          type: string
          enum: ['0', '1']
        status:
          type: string
          enum: ['0', '1']
        time_added:
          type: string
          description: Unix timestamp string (seconds)
        time_updated:
          type: string
          description: Unix timestamp string (seconds)
        time_read:
          type: string
          description: Unix timestamp? 0 if not read
        time_favorited:
          type: string
          description: Unix timestamp? 0 if not favorited
        open_url:
          type: string
        sort_id:
          type: number
        resolved_title:
          type: string
        resolved_url:
          type: string
        excerpt:
          type: string
        is_article:
          type: string
          enum: ['0', '1']
        is_index:
          type: string
          enum: ['0', '1']
        has_video:
          type: string
          enum: ['0', '1']
        has_image:
          type: string
          enum: ['0', '1']
        word_count:
          type: string
          description: Numeric string, word count of the item. May be 0 if parsing fails
        lang:
          type: string
          enum: ['en', 'de']
        time_to_read:
          type: number
          description: Approximate minutes to read the item, based on word_count
        top_image_url:
          type: string
        domain_metadata:
          type: object
          properties:
            name:
              type: string
            logo:
              type: string
            greyscale_logo:
              type: string
        listen_duration_estimate:
          type: number
          description: Approximate seconds to listen to the item, based on word_count


  # securitySchemes roughly map to authentication middleware
  securitySchemes:
    SessionGuidAuth:
      type: apiKey
      in: cookie
      name: sess_guid
      description: "A portion of `WebSession` legacy auth. Must be paired with ConsumerKeyAuth"
    # this is usually transmitted via query params in web V3, tentatively move to headers
    ConsumerKeyAuth:
      type: apiKey
      in: header
      name: consumer_key
      description: "A portion of `WebSession` legacy auth. Must be paired with SessionGuidAuth"

paths:
  /.well-known/server-health:
    get:
      responses:
        '200':
          description: Health check OK
  /firefox/v1/recent-saves:
    get:
      summary: Gets a list of the most recent saves for a specific user
      security:
      # require both SessionGuidAuth and ConsumerKeyAuth in pair, do not add '-'
        - SessionGuidAuth: []
          ConsumerKeyAuth: []
      parameters:
        - $ref: "#/components/parameters/countParam"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: number
                  complete:
                    type: number
                  cachetype:
                    type: string
                  maxActions:
                    type: number
                  since:
                    type: number
                  search_meta:
                    type: object
                    properties:
                      search_type:
                        type: string
                  error:
                    type: object
                    additionalProperties: true
                  list:
                    type: object
                    additionalProperties:
                      type: array
                      items: 
                        $ref: "#/components/schemas/SavedItem"
